html,
body {
    padding: 0px;
    max-width: 1280px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    margin-right: 10px;
    background: #635959;
    color: white;
    border: none;
    cursor: pointer;
}

.ant-spin-container.ant-spin-blur {
    width: 100vw;
    height: 100vh;
}

.ant-spin-nested-loading > div > .ant-spin.ant-spin-spinning {
    width: 100vw;
    height: 100vh;
}
